/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

/* primery class */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-200 {
    gap: 200px
}


/* section 1 styles */
.sec1 {
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    overflow: hidden;

}

.nice-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tittle-container h1 {
    color: #272727;
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    width: 708px;

}

.tittle-container p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    width: 634px;
    margin: 32px 0;

}

.tittle-container button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: none;
    transition: 0.5s;
}

.tittle-container button:hover {
    box-shadow: inset 11rem 0 0 rgb(233, 18, 47);
    transition: 0.5s;
    cursor: pointer;
    background-color: transparent;


}

.first-img img {
    width: 635px;
    height: 850px;
    margin: 0 0 -16% 97px;
    transition: 0.9s;
    

}

.first-img img:hover{
    transition: 0.9s;
    margin: 0 0 -16% 150px;
}

/* section 1 done */


/* section 2 start */
.sec2 {
    text-align: center;
    padding: 0 0 128px 0;
    overflow: hidden;
}

.sec2-footer {
    margin: 178px 0 0 0;
}

.sec2-footer h2 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.sec2-footer p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    width: 594px;
    margin: 24px auto;
    font-weight: 400;


}

.flower-names {
    width: 1440px;
    justify-content: space-around;
    margin: 32px 00 0 0;
}

.flower-names p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    text-decoration-line: underline;
}



/* main section */
.main {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 55px 0 0 0;
    width: 1442px;
   
}

.img-div1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    overflow: hidden;

}

.img-div1:hover .img1{
    padding: 120px 78px 0 78px;
    transition: 0.5s;
   
}

.img1 {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0 78px;
    transition: 0.5s;

}

.img-div2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    


}
.img-div2:hover .img2{
    padding: 130px 78px 0 78px;
    transition: 0.5s;
   
}

.img2 {
    padding: 110px 78px 0 78px;
    width: 370px;
    height: 370px;
    transition: 0.5s;
}

.img-div3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    overflow: hidden;
    background-color: rgba(167, 33, 98, 0.15);

}
.img-div3:hover .img3{
    padding: 80px 78px 0 78px;
    transition: 0.5s;
   
}

.img3 {
    padding: 67px 78px 0 78px;
    width: 314px;
    height: 471px;
    transition: 0.5s;
}

/* service section */


.service-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 215px 0 0 0;
    width: 1442px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

.service img {
    width: 88px;
    height: 88px;
    margin: 0 0 28px 0;
}

.service p {

    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
}

.sec3 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.left h1 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.left p {
    width: 594px;
    text-align: center;
    margin: 32px 0;

}

.center-button {
    display: flex;
    justify-content: center;
}

.center-button button {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    border: none;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background-color: #e55473;
    transition: 0.8s;
    margin: auto;

}

/* button hover */
.center-button button:hover {
    box-shadow: inset 11rem 0 0 rgb(252, 4, 99);
    transition: 0.8s;
    background-color: transparent;
    cursor: pointer;
}


/* bonusMark section */
.heroSection {
    padding: 0 0 10rem 0; /* giiving bottom padding on secton to get some space from the bottom of the section */
    background-color: rgb(245, 250, 255);

   
}


.headText {
    text-align: center;
    background-color: aliceblue;

}

.headText h1 {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
}

.headText p {
    font-family: 'Comfortaa', cursive;
    margin: 2rem 0 0 0;
}

.space {
    margin: 0 0 0 5rem;
}

/* card style */
.card-holder {
    /* background-color: aqua; */
    width: 1442px;
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 10rem;
    /* background-color: #e55473; */
    /* width: 1442px; */
}

.card {

    width: 15rem;
    padding: 0 0 2rem 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(77, 77, 77, 0.614);
    transition: 0.5s;
    
}

.card:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: pointer;
    
    transition: 0.5s;

}

.card-container img {
    height: 15rem;
    width: 15rem;


}

.info {
    text-align: center;
}

.fa-star,
.fa-star-half {
    color: orange;
    font-size: 0.6rem;
}

.ratings {
    color: rgb(255, 187, 0);
    text-decoration: underline;
}

.info p {
    color: rgb(255, 187, 0);
    margin: 0.3rem 0;
    font-size: 1.1rem;
}

.buy {
    padding: 0.5rem 0.8rem;
    border: none;
    background-color: rgb(255, 196, 0);
    color: white;
    transition: 0.5s;
}

.buy:hover {
    box-shadow: inset 8rem 0 0 rgb(255, 92, 51);
    background-color: transparent;
    transition: 1s;
    cursor: pointer;
}


/* section 4 */

.sec4-header {
    text-align: center;
    /* margin: 128px 0 0 0; */

}

.sec4-header h1 {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin: 128px 0 0 0 ;
}

.sec4-header P {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    width: 594PX;
    margin: 24px 0 48px 0;
}

.full-width {
    width: 100%;
    height: 396px;

    display: flex;
    justify-content: center;
}

.image-container{
    display: flex;
    width: 1440px;
    justify-content: center;
    gap: 28px;


}


.image-container img {
    width: 342px;
    height: 396px;
    transition: 0.5s;
}

.image-container img:hover{
    margin: 0.5rem 0 0 0;
    transition: 0.5s;
    border-radius: 20px;
}

.search-section {
    width: 100%;
    height: 449px;
    margin: 128px 0 ;

}

.search-box {
    width: 1440px;
    height: 449px;
    background-image: url("/Amr shompod/Rectangle 9.png");
    
}


.search-header {
    height: 100%;
    text-align: center;

}

.search-header h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;


}

.search-header p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0 0 0;

}

.search-header input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
    padding: 0 0 0 10px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 10px;
    margin: 48px 0 0 0;
    transition: 0.8s;

}

.search-header input:hover{
    padding: 0 0 0 20px; 
    border-radius: 15px;
    transition: 0.5s;
}



.search-box button {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background-color: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 0 16px;
    transition: 0.5s;


}
.search-box button:hover{
    box-shadow: inset 10rem 0 0 rgb(233, 18, 65);
    transition: 0.5s;
    cursor: pointer;
    background: transparent;
}

footer {
    height: 449px;
    background: #2f3542;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: white;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-tittle {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0 32px 0;

}

.foot-container {
    text-align: center;
}

.color {
    color: #E55473;
}

.copy {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
   
}

/* footer icon style */
.icons{
    display: flex;
    justify-content: center;
    /* background-color: #E55473; */
    gap: 5rem;  
    margin-top: 3rem;  
}

.icons i{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.658);
}

.icons i:hover{
    color: white;
}